@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

#app {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  font-family: 'Bodoni Moda', serif;
  font-size: 20px;
  background: antiquewhite;
}

.welcome-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.button-container {
  width: 100vw;
  height: 50px;
}

canvas {
  filter: blur(100px);
}

.button {
  width: 100vw;
  height: 50px;
  background: none;
  border: 0;
  border-radius: 0;
  font-family: 'Bodoni Moda', serif;
}

.cross {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%);
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.cross_a_pos,
.cross_a_neg,
.cross_b_pos,
.cross_b_neg {
  position: absolute;
  background-color: black;
  height: 2px;
  width: 2px;
}
